*{
    margin: 0px;
    padding: 0px;
}
.wrapper{
    padding: 20px;
}
.left{
    width: 320px;
    height: 350px;
    display: inline-block; 
    vertical-align: top;
    border-right: 4px solid black;
}
.left input{
    margin-left: 20px;
    margin-top: 10px;
}
#wordBox{
    padding: 10px;
    width: 240px;
    border: 2px solid black;
}
.left p{
    margin-top: 20px
}
#checkBox{
    margin-top: 20px;
    margin-left: 0px;
}
#addButton{
    background-color: #a6c4f4;
    border: 2px solid black;
    padding: 2px;
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: 0px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.right{
    /* background-color: lightgreen;   */
    width: 380px; 
    height: 350px;
    display: inline-block; 
    vertical-align: top;
}
#clearButton{
    background-color: #df9c9b;
    border: 2px solid black;
    padding: 2px;
    margin-bottom: 20px;
    margin-left: 280px; 
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.wordOutput{
    padding: 10px;
}
.red{
    color: red;
    width: 90px;
    display: inline-block;
    margin-bottom: 5px;
    
}
.green{
    color: green;
    width: 90px;
    display: inline-block;
    margin-bottom: 5px;
}
.blue{
    color: blue;
    width: 90px;
    display: inline-block;
    margin-bottom: 5px;
}
#time{
    width: 260px;
    display: inline-block;
    text-align: right;
    margin-bottom: 5px;
}
#big{
    font-size: 25px;
}